# Myrise Challenge
---

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [99]:
# Add your code for Question 1 in this code block
import pandas as pd

---

### Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [100]:
# Add your code for Question 2 in this code block
customers = pd.read_csv('application_data.csv')
customers.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17

You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [101]:
# convert to dates
customers['appilcationDate'] = pd.to_datetime(customers['appilcationDate'])
customers['repaymentPaidDate'] = pd.to_datetime(customers['repaymentPaidDate'])
customers['repaymentDueDate'] = pd.to_datetime(customers['repaymentDueDate'])

Now that the dates have been converted, How many `unique`data types are contained within the application dataset?

In [102]:
# data types
customers.dtypes.nunique()

4

### Question 2

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [103]:
# 2a avg loan amount
round(customers['LoanAmount'].mean(), 2)

13828.08

In [104]:
# 2b avg interest rate
round(customers['InterestRate'].mean(), 2)

23.06

In [105]:
# 2c avg term days 
round(customers['TermDays'].mean(), 2)

42.08

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [106]:
# number of loans more than 3 days late
customers['dateDifference'] = customers['repaymentPaidDate'] - customers['repaymentDueDate']
customers['dateDifference'].head()

0    -4 days
1   -24 days
2   -30 days
3   -26 days
4    -3 days
Name: dateDifference, dtype: timedelta64[ns]

In [107]:
customers[customers['dateDifference'] > pd.Timedelta('3 days')].head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference
397,GH35460722,100016172,2018-01-30,5,80.0,15.0,15,2018-02-14,2018-03-01,15 days
410,GH85390929,100015715,2018-01-27,2,80.0,15.0,15,2018-02-12,2018-02-16,4 days
419,GH06832511,100014400,2018-01-20,1,80.0,15.0,15,2018-02-05,2018-02-14,9 days
424,GH26139148,100017099,2018-02-04,2,80.0,15.0,15,2018-02-19,2018-02-27,8 days
426,GH03825373,100012495,2018-01-13,1,80.0,15.0,15,2018-01-29,2018-02-13,15 days

In [108]:
customers[customers['dateDifference'] > pd.Timedelta('3 days')].count()

customerID           145
loanId               145
appilcationDate      145
LoanNumber           145
LoanAmount           145
InterestRate         145
TermDays             145
repaymentDueDate     145
repaymentPaidDate    145
dateDifference       145
dtype: int64

---

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

In [109]:
# mean loan amount in 30-day loans and standard deviation of loan amount in 90-day loans
customers.groupby('TermDays').mean()

          LoanNumber    LoanAmount  InterestRate
TermDays
15          2.628931   1274.088050     15.000000
30          2.137500   7941.964286     28.562143
45          1.100000  10706.250000     28.732500
60          4.800000  25710.526316     15.055789
90          4.709091  37672.727273     10.645455
120         1.000000  45055.555556     11.666667
180         6.285714  80988.095238      6.250000

In [110]:
round(float(customers.groupby('TermDays').mean().iloc[1,1]), 2)

7941.96

In [111]:
customers.groupby('TermDays').std()

          LoanNumber    LoanAmount  InterestRate
TermDays
15          1.712033   2885.967406      0.000000
30          2.059236   1606.039495      4.034005
45          0.341256   2346.143820      5.773965
60          4.939205  11559.646185      3.632352
90          2.891064  18050.140602      2.180963
120         0.000000  22192.966854      1.000000
180         3.808115  34612.222587      1.265152

In [112]:
round(float(customers.groupby('TermDays').std().iloc[4,1]), 2)

18050.14

---

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

In [133]:
# week of year and average number of late days
Late = customers[customers['dateDifference'] > pd.Timedelta('3 days')]
Late

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference
397,GH35460722,100016172,2018-01-30,5,80.0,15.0,15,2018-02-14,2018-03-01,15 days
410,GH85390929,100015715,2018-01-27,2,80.0,15.0,15,2018-02-12,2018-02-16,4 days
419,GH06832511,100014400,2018-01-20,1,80.0,15.0,15,2018-02-05,2018-02-14,9 days
424,GH26139148,100017099,2018-02-04,2,80.0,15.0,15,2018-02-19,2018-02-27,8 days
426,GH03825373,100012495,2018-01-13,1,80.0,15.0,15,2018-01-29,2018-02-13,15 days
432,GH63887800,100016727,2018-02-02,2,80.0,15.0,15,2018-02-19,2018-02-25,6 days
446,GH33164754,100014274,2018-01-19,5,80.0,15.0,15,2018-02-05,2018-02-12,7 days
448,GH28179321,100016682,2018-02-02,5,80.0,15.0,15,2018-02-19,2018-02-28,9 days
449,GH96880686,100012940,2018-01-14,1,80.0,15.0,15,2018-01-29,2018-02-17,19 days
450,GH80713260,100017839,2018-02-08,4,80.0,15.0,15,2018-02-23,2018-02-27,4 days
456,GH28179321,100011014,2018-01-06,4,80.0,15.0,15,2018-01-22,2018-01-31,9 days
457,GH59483030,100017217,2018-02-05,5,80.0,15.0,15,2018-02-20,2018-04-04,43 days
459,GH00205281,100016094,2018-01-29,2,80.0,15.0,15,2018-02-13,2018-02-27,14 days
462,GH96908526,100013425,2018-01-16,3,80.0,15.0,15,2018-01-31,2018-02-19,19 days
469,GH91278408,100017825,2018-02-08,2,80.0,15.0,15,2018-02-23,2018-03-29,34 days
474,GH63727524,100015090,2018-01-23,1,80.0,15.0,15,2018-02-07,2018-05-28,110 days
491,GH44856685,100016872,2018-02-02,5,80.0,15.0,15,2018-02-19,2018-03-05,14 days
517,GH67529775,100017455,2018-02-06,2,80.0,15.0,15,2018-02-21,2018-03-05,12 days
531,739546510,302060935730,2018-07-17,6,20500.0,20.0,60,2018-09-16,2018-12-22,97 days
532,051964302,302344421107,2018-09-06,4,20500.0,20.0,60,2018-11-06,2018-12-01,25 days
544,026133837,302623360,2018-01-12,2,7500.0,30.0,30,2018-02-11,2018-03-24,41 days
547,124189650,302607241,2018-01-08,1,7500.0,30.0,30,2018-02-09,2018-03-30,49 days
549,061452364,302528776595,2018-10-06,2,7500.0,30.0,30,2018-11-05,2018-11-14,9 days
551,383789899,302833086,2018-02-25,1,7500.0,30.0,30,2018-03-29,2018-04-12,14 days
553,339095931,302379245789,2018-09-12,2,7500.0,30.0,30,2018-10-12,2018-10-31,19 days
554,091351436,302832471,2018-02-25,1,7500.0,30.0,30,2018-03-27,2018-04-24,28 days
555,683225743,302072465932,2018-07-19,5,7500.0,30.0,30,2018-08-20,2018-09-25,36 days
557,530961303,302716663,2018-01-31,2,7500.0,30.0,30,2018-03-02,2018-03-07,5 days
560,974013962,302583090,2018-01-02,1,7500.0,30.0,30,2018-02-04,2018-03-06,30 days
562,751741585,303138149,2018-04-28,1,7500.0,30.0,30,2018-05-28,2018-07-28,61 days
...,...,...,...,...,...,...,...,...,...,...
890,159945550,302589833904,2018-10-17,1,7500.0,30.0,30,2018-11-16,2018-12-06,20 days
891,032311940,301993996930,2018-07-03,2,7500.0,30.0,30,2018-08-02,2018-08-06,4 days
896,466262330,302846873,2018-02-27,2,7500.0,30.0,30,2018-03-29,2018-04-09,11 days
907,686558059,301982521136,2018-06-30,2,7500.0,30.0,30,2018-07-30,2018-09-08,40 days
908,912290005,302744019,2018-02-06,1,7500.0,30.0,30,2018-03-08,2018-05-23,76 days
912,657637051,302590779,2018-01-04,1,7500.0,30.0,30,2018-02-03,2018-03-13,38 days
914,191115740,302657503,2018-01-19,2,7500.0,30.0,30,2018-02-18,2018-02-22,4 days
917,151876969,302786072,2018-02-15,1,7500.0,30.0,30,2018-03-17,2018-03-21,4 days
919,251839715,302368523945,2018-09-10,1,7500.0,30.0,30,2018-10-10,2018-10-24,14 days
926,068296451,303008698,2018-04-03,2,7500.0,30.0,30,2018-05-03,2018-05-08,5 days
927,139420975,302863390,2018-03-02,1,7500.0,30.0,30,2018-04-01,2018-10-08,190 days
929,031947410,301822930431,2018-05-30,2,7500.0,30.0,30,2018-06-29,2018-09-25,88 days
932,749085876,301884588348,2018-06-11,4,7500.0,30.0,30,2018-07-11,2018-09-01,52 days
934,049163426,302779934,2018-02-14,1,7500.0,30.0,30,2018-03-16,2018-05-09,54 days
941,166319502,302303049493,2018-08-30,3,7500.0,30.0,30,2018-09-29,2018-10-03,4 days
947,826407015,302353101661,2018-09-07,12,7500.0,30.0,30,2018-10-07,2018-10-18,11 days
951,920806253,302471845612,2018-09-27,1,7500.0,30.0,30,2018-10-27,2018-11-09,13 days
952,729934026,301795211670,2018-05-24,1,7500.0,30.0,30,2018-06-25,2018-07-05,10 days
956,121586610,302178919277,2018-08-08,3,7500.0,30.0,30,2018-09-07,2018-09-27,20 days
960,482610334,302370502585,2018-09-10,1,7500.0,30.0,30,2018-10-10,2018-11-12,33 days
962,492954954,303201761,2018-05-09,1,7500.0,30.0,30,2018-06-08,2018-07-25,47 days
963,859200358,302701019,2018-01-28,3,7500.0,30.0,30,2018-02-27,2018-03-07,8 days
964,631264575,302600338,2018-01-06,1,7500.0,30.0,30,2018-02-05,2018-04-29,83 days
965,738664536,303004277,2018-04-01,1,7500.0,30.0,30,2018-05-03,2018-06-06,34 days
967,745141607,302227740886,2018-08-17,1,7500.0,30.0,30,2018-09-16,2018-10-16,30 days
978,189301655,302565959911,2018-10-13,2,7500.0,30.0,30,2018-11-12,2018-11-20,8 days
980,874756930,302885631,2018-03-07,2,7500.0,30.0,30,2018-04-06,2018-04-17,11 days
983,351491824,302607848,2018-01-08,1,7500.0,30.0,30,2018-02-09,2018-05-09,89 days
987,576830620,302856088,2018-03-01,3,7500.0,30.0,30,2018-03-31,2018-07-12,103 days
997,899011279,302585439,2018-01-03,3,7500.0,30.0,30,2018-02-02,2018-10-12,252 days

In [134]:
Late['appilcationDate'] = Late['appilcationDate'].dt.week
Late

C:\Users\swee\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference
397,GH35460722,100016172,5,5,80.0,15.0,15,2018-02-14,2018-03-01,15 days
410,GH85390929,100015715,4,2,80.0,15.0,15,2018-02-12,2018-02-16,4 days
419,GH06832511,100014400,3,1,80.0,15.0,15,2018-02-05,2018-02-14,9 days
424,GH26139148,100017099,5,2,80.0,15.0,15,2018-02-19,2018-02-27,8 days
426,GH03825373,100012495,2,1,80.0,15.0,15,2018-01-29,2018-02-13,15 days
432,GH63887800,100016727,5,2,80.0,15.0,15,2018-02-19,2018-02-25,6 days
446,GH33164754,100014274,3,5,80.0,15.0,15,2018-02-05,2018-02-12,7 days
448,GH28179321,100016682,5,5,80.0,15.0,15,2018-02-19,2018-02-28,9 days
449,GH96880686,100012940,2,1,80.0,15.0,15,2018-01-29,2018-02-17,19 days
450,GH80713260,100017839,6,4,80.0,15.0,15,2018-02-23,2018-02-27,4 days
456,GH28179321,100011014,1,4,80.0,15.0,15,2018-01-22,2018-01-31,9 days
457,GH59483030,100017217,6,5,80.0,15.0,15,2018-02-20,2018-04-04,43 days
459,GH00205281,100016094,5,2,80.0,15.0,15,2018-02-13,2018-02-27,14 days
462,GH96908526,100013425,3,3,80.0,15.0,15,2018-01-31,2018-02-19,19 days
469,GH91278408,100017825,6,2,80.0,15.0,15,2018-02-23,2018-03-29,34 days
474,GH63727524,100015090,4,1,80.0,15.0,15,2018-02-07,2018-05-28,110 days
491,GH44856685,100016872,5,5,80.0,15.0,15,2018-02-19,2018-03-05,14 days
517,GH67529775,100017455,6,2,80.0,15.0,15,2018-02-21,2018-03-05,12 days
531,739546510,302060935730,29,6,20500.0,20.0,60,2018-09-16,2018-12-22,97 days
532,051964302,302344421107,36,4,20500.0,20.0,60,2018-11-06,2018-12-01,25 days
544,026133837,302623360,2,2,7500.0,30.0,30,2018-02-11,2018-03-24,41 days
547,124189650,302607241,2,1,7500.0,30.0,30,2018-02-09,2018-03-30,49 days
549,061452364,302528776595,40,2,7500.0,30.0,30,2018-11-05,2018-11-14,9 days
551,383789899,302833086,8,1,7500.0,30.0,30,2018-03-29,2018-04-12,14 days
553,339095931,302379245789,37,2,7500.0,30.0,30,2018-10-12,2018-10-31,19 days
554,091351436,302832471,8,1,7500.0,30.0,30,2018-03-27,2018-04-24,28 days
555,683225743,302072465932,29,5,7500.0,30.0,30,2018-08-20,2018-09-25,36 days
557,530961303,302716663,5,2,7500.0,30.0,30,2018-03-02,2018-03-07,5 days
560,974013962,302583090,1,1,7500.0,30.0,30,2018-02-04,2018-03-06,30 days
562,751741585,303138149,17,1,7500.0,30.0,30,2018-05-28,2018-07-28,61 days
...,...,...,...,...,...,...,...,...,...,...
890,159945550,302589833904,42,1,7500.0,30.0,30,2018-11-16,2018-12-06,20 days
891,032311940,301993996930,27,2,7500.0,30.0,30,2018-08-02,2018-08-06,4 days
896,466262330,302846873,9,2,7500.0,30.0,30,2018-03-29,2018-04-09,11 days
907,686558059,301982521136,26,2,7500.0,30.0,30,2018-07-30,2018-09-08,40 days
908,912290005,302744019,6,1,7500.0,30.0,30,2018-03-08,2018-05-23,76 days
912,657637051,302590779,1,1,7500.0,30.0,30,2018-02-03,2018-03-13,38 days
914,191115740,302657503,3,2,7500.0,30.0,30,2018-02-18,2018-02-22,4 days
917,151876969,302786072,7,1,7500.0,30.0,30,2018-03-17,2018-03-21,4 days
919,251839715,302368523945,37,1,7500.0,30.0,30,2018-10-10,2018-10-24,14 days
926,068296451,303008698,14,2,7500.0,30.0,30,2018-05-03,2018-05-08,5 days
927,139420975,302863390,9,1,7500.0,30.0,30,2018-04-01,2018-10-08,190 days
929,031947410,301822930431,22,2,7500.0,30.0,30,2018-06-29,2018-09-25,88 days
932,749085876,301884588348,24,4,7500.0,30.0,30,2018-07-11,2018-09-01,52 days
934,049163426,302779934,7,1,7500.0,30.0,30,2018-03-16,2018-05-09,54 days
941,166319502,302303049493,35,3,7500.0,30.0,30,2018-09-29,2018-10-03,4 days
947,826407015,302353101661,36,12,7500.0,30.0,30,2018-10-07,2018-10-18,11 days
951,920806253,302471845612,39,1,7500.0,30.0,30,2018-10-27,2018-11-09,13 days
952,729934026,301795211670,21,1,7500.0,30.0,30,2018-06-25,2018-07-05,10 days
956,121586610,302178919277,32,3,7500.0,30.0,30,2018-09-07,2018-09-27,20 days
960,482610334,302370502585,37,1,7500.0,30.0,30,2018-10-10,2018-11-12,33 days
962,492954954,303201761,19,1,7500.0,30.0,30,2018-06-08,2018-07-25,47 days
963,859200358,302701019,4,3,7500.0,30.0,30,2018-02-27,2018-03-07,8 days
964,631264575,302600338,1,1,7500.0,30.0,30,2018-02-05,2018-04-29,83 days
965,738664536,303004277,13,1,7500.0,30.0,30,2018-05-03,2018-06-06,34 days
967,745141607,302227740886,33,1,7500.0,30.0,30,2018-09-16,2018-10-16,30 days
978,189301655,302565959911,41,2,7500.0,30.0,30,2018-11-12,2018-11-20,8 days
980,874756930,302885631,10,2,7500.0,30.0,30,2018-04-06,2018-04-17,11 days
983,351491824,302607848,2,1,7500.0,30.0,30,2018-02-09,2018-05-09,89 days
987,576830620,302856088,9,3,7500.0,30.0,30,2018-03-31,2018-07-12,103 days
997,899011279,302585439,1,3,7500.0,30.0,30,2018-02-02,2018-10-12,252 days

In [135]:
Late['dateDifference'] = Late['dateDifference'].dt.days
Late

C:\Users\swee\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference
397,GH35460722,100016172,5,5,80.0,15.0,15,2018-02-14,2018-03-01,15
410,GH85390929,100015715,4,2,80.0,15.0,15,2018-02-12,2018-02-16,4
419,GH06832511,100014400,3,1,80.0,15.0,15,2018-02-05,2018-02-14,9
424,GH26139148,100017099,5,2,80.0,15.0,15,2018-02-19,2018-02-27,8
426,GH03825373,100012495,2,1,80.0,15.0,15,2018-01-29,2018-02-13,15
432,GH63887800,100016727,5,2,80.0,15.0,15,2018-02-19,2018-02-25,6
446,GH33164754,100014274,3,5,80.0,15.0,15,2018-02-05,2018-02-12,7
448,GH28179321,100016682,5,5,80.0,15.0,15,2018-02-19,2018-02-28,9
449,GH96880686,100012940,2,1,80.0,15.0,15,2018-01-29,2018-02-17,19
450,GH80713260,100017839,6,4,80.0,15.0,15,2018-02-23,2018-02-27,4
456,GH28179321,100011014,1,4,80.0,15.0,15,2018-01-22,2018-01-31,9
457,GH59483030,100017217,6,5,80.0,15.0,15,2018-02-20,2018-04-04,43
459,GH00205281,100016094,5,2,80.0,15.0,15,2018-02-13,2018-02-27,14
462,GH96908526,100013425,3,3,80.0,15.0,15,2018-01-31,2018-02-19,19
469,GH91278408,100017825,6,2,80.0,15.0,15,2018-02-23,2018-03-29,34
474,GH63727524,100015090,4,1,80.0,15.0,15,2018-02-07,2018-05-28,110
491,GH44856685,100016872,5,5,80.0,15.0,15,2018-02-19,2018-03-05,14
517,GH67529775,100017455,6,2,80.0,15.0,15,2018-02-21,2018-03-05,12
531,739546510,302060935730,29,6,20500.0,20.0,60,2018-09-16,2018-12-22,97
532,051964302,302344421107,36,4,20500.0,20.0,60,2018-11-06,2018-12-01,25
544,026133837,302623360,2,2,7500.0,30.0,30,2018-02-11,2018-03-24,41
547,124189650,302607241,2,1,7500.0,30.0,30,2018-02-09,2018-03-30,49
549,061452364,302528776595,40,2,7500.0,30.0,30,2018-11-05,2018-11-14,9
551,383789899,302833086,8,1,7500.0,30.0,30,2018-03-29,2018-04-12,14
553,339095931,302379245789,37,2,7500.0,30.0,30,2018-10-12,2018-10-31,19
554,091351436,302832471,8,1,7500.0,30.0,30,2018-03-27,2018-04-24,28
555,683225743,302072465932,29,5,7500.0,30.0,30,2018-08-20,2018-09-25,36
557,530961303,302716663,5,2,7500.0,30.0,30,2018-03-02,2018-03-07,5
560,974013962,302583090,1,1,7500.0,30.0,30,2018-02-04,2018-03-06,30
562,751741585,303138149,17,1,7500.0,30.0,30,2018-05-28,2018-07-28,61
...,...,...,...,...,...,...,...,...,...,...
890,159945550,302589833904,42,1,7500.0,30.0,30,2018-11-16,2018-12-06,20
891,032311940,301993996930,27,2,7500.0,30.0,30,2018-08-02,2018-08-06,4
896,466262330,302846873,9,2,7500.0,30.0,30,2018-03-29,2018-04-09,11
907,686558059,301982521136,26,2,7500.0,30.0,30,2018-07-30,2018-09-08,40
908,912290005,302744019,6,1,7500.0,30.0,30,2018-03-08,2018-05-23,76
912,657637051,302590779,1,1,7500.0,30.0,30,2018-02-03,2018-03-13,38
914,191115740,302657503,3,2,7500.0,30.0,30,2018-02-18,2018-02-22,4
917,151876969,302786072,7,1,7500.0,30.0,30,2018-03-17,2018-03-21,4
919,251839715,302368523945,37,1,7500.0,30.0,30,2018-10-10,2018-10-24,14
926,068296451,303008698,14,2,7500.0,30.0,30,2018-05-03,2018-05-08,5
927,139420975,302863390,9,1,7500.0,30.0,30,2018-04-01,2018-10-08,190
929,031947410,301822930431,22,2,7500.0,30.0,30,2018-06-29,2018-09-25,88
932,749085876,301884588348,24,4,7500.0,30.0,30,2018-07-11,2018-09-01,52
934,049163426,302779934,7,1,7500.0,30.0,30,2018-03-16,2018-05-09,54
941,166319502,302303049493,35,3,7500.0,30.0,30,2018-09-29,2018-10-03,4
947,826407015,302353101661,36,12,7500.0,30.0,30,2018-10-07,2018-10-18,11
951,920806253,302471845612,39,1,7500.0,30.0,30,2018-10-27,2018-11-09,13
952,729934026,301795211670,21,1,7500.0,30.0,30,2018-06-25,2018-07-05,10
956,121586610,302178919277,32,3,7500.0,30.0,30,2018-09-07,2018-09-27,20
960,482610334,302370502585,37,1,7500.0,30.0,30,2018-10-10,2018-11-12,33
962,492954954,303201761,19,1,7500.0,30.0,30,2018-06-08,2018-07-25,47
963,859200358,302701019,4,3,7500.0,30.0,30,2018-02-27,2018-03-07,8
964,631264575,302600338,1,1,7500.0,30.0,30,2018-02-05,2018-04-29,83
965,738664536,303004277,13,1,7500.0,30.0,30,2018-05-03,2018-06-06,34
967,745141607,302227740886,33,1,7500.0,30.0,30,2018-09-16,2018-10-16,30
978,189301655,302565959911,41,2,7500.0,30.0,30,2018-11-12,2018-11-20,8
980,874756930,302885631,10,2,7500.0,30.0,30,2018-04-06,2018-04-17,11
983,351491824,302607848,2,1,7500.0,30.0,30,2018-02-09,2018-05-09,89
987,576830620,302856088,9,3,7500.0,30.0,30,2018-03-31,2018-07-12,103
997,899011279,302585439,1,3,7500.0,30.0,30,2018-02-02,2018-10-12,252

In [136]:
Late.groupby('appilcationDate').mean()

,LoanNumber,LoanAmount,InterestRate,TermDays,dateDifference
appilcationDate,,,,,
1,1.700000,6758.000000,28.500000,28.500000,87.600000
2,1.250000,5645.000000,26.250000,26.250000,45.750000
3,2.000000,4717.500000,24.375000,24.375000,16.500000
4,1.333333,6263.333333,27.500000,27.500000,37.916667
5,2.333333,3790.000000,22.500000,22.500000,18.000000
6,2.571429,3260.000000,21.428571,21.428571,39.714286
7,1.250000,7500.000000,30.000000,30.000000,29.250000
8,1.230769,7500.000000,30.000000,30.000000,25.153846
9,1.714286,7500.000000,30.000000,30.000000,55.857143
10,2.000000,7500.000000,30.000000,30.000000,29.250000
11,1.500000,7500.000000,30.000000,30.000000,71.500000
12,2.000000,7500.000000,30.000000,30.000000,19.500000
13,3.000000,7500.000000,30.000000,30.000000,34.000000
14,4.000000,7500.000000,30.000000,30.000000,14.000000
15,2.000000,7500.000000,30.000000,30.000000,7.000000
17,1.500000,7500.000000,30.000000,30.000000,34.500000
19,1.000000,7500.000000,30.000000,30.000000,66.500000
20,1.000000,7500.000000,30.000000,30.000000,28.000000
21,1.000000,7500.000000,30.000000,30.000000,10.000000
22,2.000000,7500.000000,30.000000,30.000000,88.000000
23,2.000000,7500.000000,30.000000,30.000000,11.000000
24,2.500000,7500.000000,30.000000,30.000000,36.000000
26,1.666667,7500.000000,30.000000,30.000000,27.333333
27,2.000000,7500.000000,30.000000,30.000000,4.000000
28,2.000000,7500.000000,30.000000,30.000000,7.000000
29,4.000000,11833.333333,26.666667,40.000000,69.000000
30,2.000000,7500.000000,30.000000,30.000000,65.000000
31,3.000000,7500.000000,30.000000,30.000000,108.000000
32,4.000000,7500.000000,30.000000,30.000000,15.500000
33,1.000000,7500.000000,30.000000,30.000000,30.000000
34,2.000000,7500.000000,30.000000,30.000000,14.000000
35,3.000000,7500.000000,30.000000,30.000000,4.000000
36,6.000000,11833.333333,26.666667,40.000000,39.333333
37,1.200000,7500.000000,30.000000,30.000000,17.200000
38,1.000000,7500.000000,30.000000,30.000000,60.000000
39,2.000000,7500.000000,30.000000,30.000000,9.000000
40,2.000000,7500.000000,30.000000,30.000000,9.000000
41,2.000000,7500.000000,30.000000,30.000000,8.000000
42,1.000000,7500.000000,30.000000,30.000000,20.000000
44,1.000000,7500.000000,30.000000,30.000000,9.000000
45,1.000000,7500.000000,30.000000,30.000000,6.000000
48,2.000000,7500.000000,30.000000,30.000000,18.000000

In [140]:
round(Late.groupby('appilcationDate').mean().iloc[1,4],2)

45.75

In [141]:
pd.Timedelta('45.75 days')

Timedelta('45 days 18:00:00')

---

### The End

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.

### Notebook
Please save you notebook as `yourEmail.ipynb` where you replace `yourEmail` with your actual email address and attach it to the arise Challenge Answers form.